<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="js/vue.js"></script>
  <script src="js/area.js"></script>
</head>
<body>
  
  <div id="app">
    
    <button @click="search">查询</button>
    <select class="one">
      <option v-for="(province,index) in province">{{province}}</option>
    </select>
    <select class="two" @change="city">
      <option v-for="(city,index) in city">{{city}}</option>
    </select>
    <select class="three">
      <option v-for="(area,index) in area">{{area}}</option>
    </select>
    
  </div>

  <script>

    var app = new Vue({
      el:"#app",        // 挂载点
      data:{
        list:area,
        province:[],
        city:[],
        area:[]
      },
      created(){
        // 省
        for(x in (this.list)){
          this.province.push(x);
        }
        // console.log(this.province);

        // 市
        for(x in this.list["河南省"][0]){
          this.city.push(x);
          // console.log(this.city);
        }

        // 区
        for(x in this.list["河南省"][0]["郑州市"][0]){
          this.area.push(x);
          console.log(this.area);
        }
      },
      methods:{
        search(){
        },
        city(){
          
        }
      }
    });

  </script>

</body>
</html>