<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="js/vue.js"></script>
  <script src="js/area.js"></script>
  <title>Document</title>
</head>
<body>
  
  <div id="app">

    <!-- 省 -->
    <select @change="setPro">
      <!-- 遍历键 -->
      <option v-for="(item,index) in list">{{index}}</option>
    </select>

    <!-- 市 -->
    <select @change="setCity">
      <!-- 遍历每个省下面的数组 -->
      <!-- <option v-for="(item,index) in list[pro][0]">{{index}}</option> -->
      <option v-for="(item,index) in list[pro][0]">{{index}}</option>
    </select>

    <!-- 区 -->
    <select>
      <!-- 遍历省下面的数组里面下标为0的键 -->
      <option v-for="item in list[pro][0][city]">{{adr(item)}}</option>
    </select>

  </div>
  
  <script>

    var app = new Vue({
      el:"#app",
      data:{
        list:area,
        pro:"河南省",
        city:"郑州市",
        dis:"中原区"
      },
      methods:{
        adr(item){
          for(var x in item){
            // console.log(x);
            return x;
          }
        },
        setPro(e){
          this.pro = e.target.value;
          // console.log(this.pro);
          for(var x in this.list[this.pro][0]){
            this.city = x;
            break;
          }
        },
        setCity(e){
          this.city = e.target.value;
          // console.log(this.city);
        }
      }
    });
    
  </script>
  
</body>
</html>